[submodule "rocksdb"]
	path = librocksdb_sys/rocksdb
	url = https://github.com/homeffjy/rocksdb.git
	branch = dev-fjy/port-rocksdb-cloud

[submodule "titan"]
	path = librocksdb_sys/libtitan_sys/titan
	url = https://github.com/homeffjy/titan.git
	branch = dev-fjy/port-rocksdb-cloud
